/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aliceblue;
}
html {
  height: 100%;
}

header{
  position: absolute;
  top: 0px;
  background-color: #c3ddfc;
  display: flex;
  flex-direction: row;
  height: 9vh;
  align-items: center;
  width: 100%;
}
h1 {
  text-align: center;
  flex: 1;
  font-size: 5vw;
  font-family: "iceberg";
  font-weight: 700;
}
.offset {
  flex: 1;
  width: 7vh;
  display: flex;
  justify-content: left;
  align-items: center;
}


input[type='checkbox']:checked.menu{
  transform: rotateZ(90deg);
  transition: 0.5s;
}

div.top div{
  position: absolute;
  transform-origin: 4vh 4vh;
  transform: rotateZ(-90deg);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 0;
}

input[type='radio']{
  -webkit-appearance:none;
  position: relative;
  left: 1vh;
  background-color: #999;
  border-radius: 1vh;
  transform-origin: center;
  text-align: center;
  padding: 0.5vh;
  height: 7vh;
  width: 7vh;
  background-position: center;
  background-size:80%;
  background-repeat: no-repeat;
}

input.home{
  top: 10vh;
  background-image: url(../GFX/home.png) !important;
}
input.info{
  background-image: url(../GFX/info.png) !important;
  top: 11vh;
}
input.booking{
  top: 12vh;
  background-image: url(../GFX/booking.png) !important;
}


body:has(input[type='checkbox']:checked.menu) div.top div{
  transform: rotateZ(0deg);
  transition: 0.5s;
}


input[type='checkbox'].menu {
  background-color: grey;
  background-image: url("../GFX/burger.png");
  background-position: center;
  background-size:80%;
  background-repeat: no-repeat;
  -webkit-appearance:none;
  height: 7vh;
  width: 7vh;
  border-radius: 1vh;
  margin-right: 0.5em;
  margin-left: 0.5em;
  transition: 0.5s;
  transform: rotateZ(0deg);
}



.menu{
  height: 100%;
}

.content {
  flex: 1 10px;
  display: flex;
  flex-direction: row;
  margin-top: 9vh;
}
aside {
  flex: 1;
}

body:has(input[type='radio']:checked.home) div.home{
  width: 100%;
  height: 100%;
}
body:has(input[type='radio']:checked.info) div.info{
  width: 100%;
  height: 100%;

}
body:has(input[type='radio']:checked.booking) div.booking{
  width: 100%;
  height: 100%;
}

main div{
  width: 0;
  height: 0;
  overflow: hidden;
}

main{
  padding-top: 1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  flex: 3;
  background-image: url("../GFX/VNIWN7WKSQ.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
}

select:has(option[value="1"]:checked) ~ div.Hyra
{
  background-color: #000;
  height: 100%;
  width: 100%;
}
select:has(option[value="2"]:checked) ~ div.Rodel
{
  background-color: blue;
  height: 100%;
  width: 100%;
}
div.booking div{
  width: 0;
  height: 0;
}

.home > p {
  font-size: 3vh;
  font-family: "iceberg";
}

p.sledCrash {
  font-size: 5vh !important;
}

img.sledCrash {
  height: 20vh;
}

aside{
  margin-left: 2px;
  margin-right: 2px;
}

footer{
  background-color: aliceblue;
  color: black;
  text-align: center;
}

aside > img {
  padding: 10px;
  width: 100%;
}

@media screen and (max-width: 479px){
  aside {
    display: none;
  }
  body {
    background-color: #000;
  }
  .home > p {
    padding: 1vw;
  }
  h1 {
    font-size: 13vw;
    flex: 3;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

